html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globals */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
}

/* Header and Nav */

.header__title {
  margin-top: 5rem;
  text-align: center;
}

.header__title span {
  color: #037bc0;
}

.container-nav {
  border-top: 0.1rem solid #e1e1e1;
}

.nav-main {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-main--center {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50rem;
}

/* product category section */
.container-category {
  padding-top: 5rem;
}

.container-category--center {
  max-width: 120rem;
  margin: 0 auto;
}

.container-category__title {
  text-align: center;
}

.list-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.category-container__link {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.category-container__link:hover {
  background-color: #037bc0;
  color: #ffffff;
  border-bottom-right-radius: 1rem;
}
